<template>
  <q-page class="flex flex-center">
    <div class="flex column q-gutter-y-md">
      <img
        alt="Quasar logo"
        src="~assets/quasar-logo-full.svg"
      >
      <q-btn outline color="primary">Primary</q-btn>
      <q-btn color="secondary">Secondary</q-btn>
      <q-btn color="accent">accent</q-btn>
      <q-btn flat color="dark" text-color="info">Flat Info</q-btn>
      <p v-if="q">
        Searching for "{{ q }}"?
      </p>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    const { q = '' } = this.$route.query
    return { q }
  },
  meta () {
    if (!this.q) {
      return {
        meta: {}
      }
    }
    return {
      meta: {
        ogTitle: {
          name: 'og:title',
          content: `Looking for ${this.q}?`
        },
        ogDescription: {
          name: 'og:description',
          content: `We have the best ${this.q} in town`
        }
      }
    }
  }
}
</script>
