<template>
  <div :style="theme">
    <slot/>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ThemeWrapper',
  computed: {
    ...mapGetters('theme', ['definitions']),
    theme () {
      return Object.entries(this.definitions)
        .map(([k, v]) => `--q-color-${k}: ${v}`)
        .join('; ')
    }
  }
}
</script>
