<template>
  <theme-wrapper id="q-app">
    <router-view />
  </theme-wrapper>
</template>
<script>
import ThemeWrapper from 'components/ThemeWrapper'
export default {
  name: 'App',
  components: { ThemeWrapper },
  meta () {
    return {
      meta: {
        ogTitle: { name: 'og:title', content: 'SSR test app' }
      }
    }
  }
}
</script>
